body,
html {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../media/bg-main.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif, serif;
  font-size: 16px; // 1rem
}

#cards {
  height: auto;
  .card {
    position: relative;
    width: 500px;
    height: 300px;
    transform: scale(1.5);
    &-position {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background-size: 100% auto;
      background-position: center;
      background-repeat: no-repeat;
      transition: transform .5s linear;
    }
    &-content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      text-align: center;
      * {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
      }
      &-logo {
        margin-bottom: 1rem;
        img {
          width: 25px;
          height: 25px;
        }
      }
      &-name {
        h1 {
          color: #fff;
          font-weight: 100;
          letter-spacing: 3px;
          word-spacing: 4px;
        }
        span {
          font-weight: 400;
        }
        p {
          color: #fff;
          font-size: .6rem;
          letter-spacing: 1px;
        }
      }
      &-left, &-right {
        width: 50%;
      }
      &-left {
        h1 {
          font-weight: 200;
        }
        span {
          font-weight: 700;
        }
        h3 {
          font-weight: 200;
          font-size: .75rem;
        }
      }
    }
    &-row {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 0.5rem;
      i, svg {
        background: #000;
        font-size: 1rem;
        color: #fff;
        padding: 0.75rem;
        border-radius: 50%;
      }
      h3, h4, p {
        text-align: left;
        margin-left: 1rem;
        font-size: .5rem;
      }
    }
    &-front {
      background-image: url(../media/bg-front.png);
      transform: perspective(600px) rotateY(0deg);
      .card-content {
        flex-direction: column;
      }
    }
    &-back {
      background-image: url(../media/bg-back.png);
      transform: perspective(600px) rotateY(180deg);
      // transform: perspective(600px) rotateY(0deg);
    }
    &:hover {
      > .card-front {
        transform: perspective(600px) rotateY(-180deg);
      }
      > .card-back {
        transform: perspective(600px) rotateY(0deg);
      }
    }
  }
}